*{ 
	padding: 0px; 
	margin: 0px;  
}
body {
	width:1000px; 
	margin: auto; 
}
header {
	background-color: #000080; 
	font-family: verdana, arial, arial black
}
header h1{
	color: #FDF5E6;
	padding: 20px; 
	padding-bottom: 15px; 
	padding-left: 90px; 
	text-align: center; 
	text-align: center;}
header img{ 
	padding-top: 0px;
}
menu {
	background-color: #2197ff; 
	height: 50px;
}
menu ul {
	list-style: none; 
	line-height: 50px
}
menu ul li { 
	float: left; 
	width: 20%; 
	text-align: center;
}
menu ul li a{
	color: white; 
	text-decoration: none;
	font-family: verdana; 
	display: block;
}
menu ul li a:hover{ 
	background-color: green; 
	color: black 
}
.waktu{
    padding-left: 10px; 
    padding-bottom: 10px; 
    color: white;
}
.bela img{ 
	margin-top: 1px; 
}
.pres img{ 
	padding-right: 90px; }

#link{ 
	font-size: medium;
	background-color: #0000FF; 
	margin-bottom: 20px;  
}
article tr {color: #000000 }
article li {
	font-family: verdana; 
	margin-left: 25px;
}
article p {font-family: verdana;}
article h2 {font-family: verdana;
	font-style: italic;
}
.diary{ border: 1px solid black; 
	height: 180px; 
	width: 220px; 
	padding-left: 10px; 
	padding-bottom: 10px; 
}
.diary h3{ margin-top: 15px; }
.diary input[type="button"]{
	margin : 6px;
	border: none;
	outline: none;
	height: 30px;
	width: 80px;
	background: #2197ff;
	color: #fff;
	font-size: 10px;
	border-radius: 10px;
}
.diary  input[type="button"]:hover
{
	cursor: pointer;
	background: #63ff21;
	color: #000;
}
.tamu{ border: 1px solid black; height: 310px; width: 220px; padding-left: 10px; }
.tamu form{ padding-left: 20px;  }
.tamu h3{ margin-top: 15px; }
.tamu input[type="submit"]{
	margin : 6px;
	border: none;
	outline: none;
	height: 30px;
	width: 54px;
	background: #2197ff;
	color: #fff;
	font-size: 15px;
	border-radius: 10px;
}
.tamu  input[type="submit"]:hover
{
	cursor: pointer;
	background: #63ff21;
	color: #000;
}
.tamu input[type="reset"]{
	margin : 6px;
	border: none;
	outline: none;
	height: 30px;
	width: 54px;
	background: #2197ff;
	color: #fff;
	font-size: 15px;
	border-radius: 10px;
}
.tamu  input[type="reset"]:hover
{
	cursor: pointer;
	background: #63ff21;
	color: #000;
}



.bio{  padding-left:30px;}
.bio ul li{ margin-top: 10px; list-style: none;}

.pend{ padding-left: 30px; margin-top: 10px; }
.pend ul li{ margin-top: 10px; }
.pres{padding-left: 30px;}
.pres img{ margin-top: 5px; }

.hobby{ padding-left: 30px; }

.history{ padding-left: 30px; }
.history ul li{ margin-top: 10px; }

.ilmiah{ padding-left: 30px; }
.ilmiah ul li{margin-top: 10px;}

footer {background-color: #000080; }
footer {text-align: center;color: white}
